<app-menu></app-menu>
<span class="pTitle">Edit Product Info</span>
<hr>
<table *ngIf="product" class="table table-sm">
    <tbody>
        <tr>
            <th>Id</th><td><input [(ngModel)]="product.id" type="number" disabled></td>
        </tr>
        <tr>
            <th>Vendor</th>
            <td>
                <select [(ngModel)]="product.vendorId">
                    <option *ngFor="let vens of vendors" value="{{ vens.id }}">{{ vens.name }}</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Part Number</th><td><input [(ngModel)]="product.partNbr" type="text"></td>
        </tr>
        <tr>
            <th>Name</th><td><input [(ngModel)]="product.name" type="text"></td>
        </tr>
        <tr>
            <th>Price</th><td><input [(ngModel)]="product.price" type="number"></td>
        </tr>
        <tr>
            <th>Unit</th><td><input [(ngModel)]="product.unit" type="text"></td>
        </tr>
        <tr>
            <th>Photo Path</th><td><input [(ngModel)]="product.photoPath" type="text"></td>
        </tr>
    </tbody>
</table>
<div>
    <button (click)="save()" class="btn btn-primary">Save</button>
    | <a class="btn btn-secondary" routerLink="/product/list">Back</a>
</div>