nav {
    background-color: rgb(99, 97, 97);
    font-weight: bold;
}

ul {
    margin-bottom: 0;
}

li {
    display: inline-block;
}

a {
    color: rgb(210, 211, 211);
    padding: 0 10px;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: darkgoldenrod;
}