/* You can add global styles to this file, and also import other style files */
app-menu {
    
}

tr:nth-child(even) {
    background-color: rgb(243, 243, 243);
}
hr {
    margin-top: 0;
    margin-bottom: 0;
}

input {
    border-radius: 6px;
}
td {
    border-radius: 0px;
}
.search {
    border: none;
}
.createBtn, .detEdi {
    background-color: rgb(99, 97, 97);
    color: rgb(210, 211, 211);
    text-decoration: none;
    padding: 0px 4px;
    border-radius: 6px;

}
.createBtn:hover, .detEdi:hover {
    color: black;
    background-color: darkgoldenrod;
}
.pTitle {
    font-weight: bold;
}
