<app-menu></app-menu>
<div>
    <span class="pTitle">User List</span> |
    <a class="createBtn" routerLink="/user/create">Create</a> |
    <input class="search" [(ngModel)]="searchCriteria" type="text" placeholder="Search">
</div>
<hr>
<table class="table table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Reviewer</th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users | userSearch:searchCriteria">
            <td>{{ u.id }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.firstname + " " + u.lastname}}</td>
            <td>{{ u.phone }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.isReviewer | boolDisplay }}</td>
            <td>{{ u.isAdmin | boolDisplay }}</td>
            <td>
                <a class="detEdi" routerLink="/user/detail/{{u.id}}">Detail</a> |
                <a class="detEdi" routerLink="/user/edit/{{u.id}}">Edit</a>
            </td>
        </tr>
    </tbody>
</table>